TypeError: 'undefined' is not a function (evaluating 'document.querySelectorAll.bind(document)')

  http://localhost/js/materialize.min.js:9
  http://localhost/js/materialize.min.js:9
TypeError: 'undefined' is not a function (evaluating 'e(".button-collapse").sideNav()')

  http://localhost/js/init.js:1
  https://code.jquery.com/jquery-2.1.1.min.js:2
  https://code.jquery.com/jquery-2.1.1.min.js:2
  https://code.jquery.com/jquery-2.1.1.min.js:2
  https://code.jquery.com/jquery-2.1.1.min.js:2 in I
/*** uncss> filename: https://fonts.googleapis.com/icon?family=Material+Icons ***/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

/*** uncss> filename: https://s3-eu-west-1.amazonaws.com/share.typeform.com/share-button.css ***/

